<footer class="footer">
 <button class="footer-toTop" id="footerToTop"></button>
 <div class="container">
  <div class="footer-data">
   <div class="footer-img__wrapper">
    <img src="img/footer/logo.svg" alt="Логотип" class="footer-img__desc">
    <img src="img/footer/logoMobile.svg" alt="Логотип" class="footer-img__mobile">
   </div>
   <a href="tel:+74997043060" class="footer-tel">+7 (499) 704-30-60</a>
   <a href="mailto:" class="footer-site">office@pbu-center.ru</a>
  </div>
  <div class="footer-lists">
   <div class="footer-list footer-services">
    <h3 class="footer-list__title">Услуги</h3>
    <ul class="footer-list__ul">
     <li class="footer-list__li">Консалтинг, обучение</li>
     <li class="footer-list__li">Услуги по регистрации юр. лиц</li>
     <li class="footer-list__li">Бухгалтерские услуги</li>
    </ul>
   </div>
   <div class="footer-list footer-services">
    <h3 class="footer-list__title">Клиенту</h3>
    <ul class="footer-list__ul">
     <li class="footer-list__li">О компании</li>
     <li class="footer-list__li">Горячие вопросы (FAQ)</li>
     <li class="footer-list__li">Полезное (Статьи)</li>
     <li class="footer-list__li">Отзывы</li>
     <li class="footer-list__li">Контакты</li>
     <li class="footer-list__li">Оплата</li>
    </ul>
   </div>
   <div class="footer-list footer-services">
    <h3 class="footer-list__title">Спецпредложения 1С</h3>
    <ul class="footer-list__ul">
     <li class="footer-list__li">Целый месяц бесплатно!</li>
     <li class="footer-list__li">Помощь в оптимизации налогов</li>
     <li class="footer-list__li">Экспресс- аудит</li>
    </ul>
   </div>
  </div>
 </div>
 <p class="footer-copyright">© 2021 Центр профессиональных бухгалтерских услуг</p>
</footer>