<header class="header">
 <div class="container header_container">
  <div class="header-logo"><img src="img/header/logo.svg" alt="Логотип"></div>
  <button class="header-mobile" id="headerMobile"></button>
  <div class="header-menu" id="headerMenu">

   <div class="header-menu__search">
    <form class="header-form" action="#">
     <input class="header-form__button" value=" " type="button" name="inputSearch" id="inputSearch">
     <input class="header-form__text" placeholder="Поиск" type="text" name="inputText" id="headerInput">
    </form>
   </div>

   <div class="header-menu__links">
    <div class="header-socials">
     <div class="header-social"><img src="img/header/telegram.svg" alt="Телеграм" class="header-social__img"></div>
     <div class="header-social"><img src="img/header/ringingPhone.svg" alt="Звонящий телефон" class="header-social__img"></div>
     <div class="header-social"><img src="img/header/phone.svg" alt="Телефон" class="header-social__img"></div>
     <div class="header-social"><img src="img/header/skype.svg" alt="Скайп" class="header-social__img"></div>
    </div>
    <div class="header-tel">
     <a class="header-tel__text" href="tel:+74997043060">+7 (499) 704-30-60</a>
     <button class="header-tel__button">Обратный звонок</button>
    </div>
   </div>

   <div class="header-menu__bottom">
    <div class="header-navigation">
     <nav class="header-nav">
      <ul class="header-ul">
       <li class="header-li"><a href="#" class="header-link">О компании</a></li>
       <li class="header-li"><a href="#" class="header-link">Бухгалтерские услуги</a></li>
       <li class="header-li"><a href="#" class="header-link">Спецпредложения 1С</a></li>
       <li class="header-li"><a href="#" class="header-link">Отзывы</a></li>
       <li class="header-li"><a href="#" class="header-link">Контакты</a></li>
       <li class="header-li"><a href="#" class="header-link">Оплата</a></li>
      </ul>
     </nav>
    </div>
   </div>
  </div>
 </div>
</header>