<section class="how">
 <div class="container">
  <h2 class="how-title section-title">Как мы работаем</h2>
  <div class="how-masonry">
   <div class="how-card how-card_1">
    <h3 class="how-card__title">
     Бухгалтер на связи
    </h3>
    <p class="how-card__text">
     Оперативная поддержка, коммуникации по работе с использованием всех средств электронной связи
    </p>
   </div>
   <div class="how-card how-card_4">
    <h3 class="how-card__title">
     Все сканы документов под рукой в 1С
    </h3>
    <p class="how-card__text">
     Все бумажные документы оцифровываются. В 1С хранятся сканы всех документов на приход и реализацию
    </p>
   </div>
   <div class="how-card how-card_2">
    <h3 class="how-card__title how-card__title_2">
     Мобильный кабинет
    </h3>
    <p class="how-card__text">
     Чат с бухгалтером и напоминания о сроках в телефоне.<br>
     Простота документооборота.<br>
     Фотографируйте документы на телефон и отправляйте их бухгалтеру
    </p>
   </div>
   <div class="how-card how-card_5">
    <h3 class="how-card__title">
     Используем сервис 1С отчетность
    </h3>
    <p class="how-card__text">
     Отправка отчетов и получение сообщений производится прямо в программе 1с. Стоимость входит в тариф
    </p>
   </div>
   <div class="how-card how-card_3">
    <h3 class="how-card__title how-card__title_3">
     Облачная 1С создает общее пространство для ведения учета
    </h3>
    <p class="how-card__text">
     Бухгалтерия клиента ведется в самой последней версии 1С, которая не стоит клиенту ни копейки. Обновление и резервное копирование - забота 1С. Доступ 1 пользователя уже включен в тариф, 1С разворачивается на любом компьютере за 10 минут и работает из любой точки мира
    </p>
   </div>
   <div class="how-card how-card_6">
    <h3 class="how-card__title">
     Подключаем 1С ЭДО
    </h3>
    <p class="how-card__text">
     Обмен электронными документами с контрагентами из 1С
    </p>
   </div>
  </div>
 </div>
</section>