<main class="main">
 <div class="container">
  <h1 class="main-title">Онлайн <br>бухгалтерия</h1>
  <p class="main-subtitle">Полное ведение бухучета для российской компании</p>
  <button class="main-button">Оставить заявку</button>
 </div>
 <div class="main-bottom">
  <div class="container main-bottom__container">
   <div class="main-bottom__items">
    <div class="main-bottom__item">
     <p class="main-item__title">15 лет</p>
     <p class="main-item__subtitle">средний стаж</p>
     <p class="main-item__text">наших бухгалтеров-экспертов</p>
    </div>
    <div class="main-bottom__item">
     <p class="main-item__title">16 лет</p>
     <p class="main-item__subtitle">опыта</p>
     <p class="main-item__text">ведение бухучета для российской компании</p>
    </div>
    <div class="main-bottom__item">
     <p class="main-item__title">30 %</p>
     <p class="main-item__subtitle">наших клиентов</p>
     <p class="main-item__text">работают с нами более 5 лет</p>
    </div>
    <div class="main-bottom__item">
     <p class="main-item__title">100 +</p>
     <p class="main-item__subtitle">клиентов</p>
     <p class="main-item__text">на регулярном обслуживании</p>
    </div>
    <div class="main-bottom__item">
     <p class="main-item__title">1000 +</p>
     <p class="main-item__subtitle">деклараций</p>
     <p class="main-item__text">сдаем каждый квартал</p>
    </div>
   </div>
  </div>
 </div>
 <img src="img/main/woman.png" alt="Профессионал" class="main-img">
</main>