<section class="price">
 <div class="container">
  <div class="price-title section-title">Стоимость</div>
  <p class="price-text">Стоимость услуг нашей компании зависит от количества обрабатываемых операций, системы налогообложения и особенностей деятельности клиента. Поэтому абонентская плата рассчитывается индивидуально.</p>
  <p class="price-text">В качестве примера расчета стоимости обслуживания предлагаем несколько реальных кейсов из практики "Центра ПБУ с ценами.</p>
  <div class="swiper price-swiper">
   <div class="swiper-wrapper">
     <div class="swiper-slide price-slide price-slide_1">
      <div class="price-content">
       <h3 class="price-subtitle">
        Транспортная компания-международный перевозчик
       </h3>
       <ul class="price-list">
        <li class="price-li">2 тягача, 1 работает, 1 сдан в аренду</li>
        <li class="price-li">5 Актов на транспортные услуги в месяц, от 51 до 100 операций</li>
        <li class="price-li">ОСНО</li>
        <li class="price-li">Силами компании оформляются счета и акты на  транспортные услуги</li>
      </ul>
      <div class="price-miniblock">
       <h4 class="price-mintitle">Стоимость обслуживания</h4>
       <p class="price-minitext">22-26т. Р/мес</p>
      </div>
      <div class="price-miniblock">
       <h4 class="price-mintitle">За год возмещен НДС </h4>
       <p class="price-minitext">3 млн. Р</p>
      </div>
      <button class="price-link">Рассчитать услугу для вас</button>
      </div>
    </div>
     <div class="swiper-slide price-slide price-slide_2">
      <div class="price-content">
        <h3 class="price-subtitle">
         Оптовая торговля, экспорт, все по максимуму выполняет Центр ПБУ
        </h3>
        <ul class="price-list">
         <li class="price-li">1-10 реализаций в месяц, от 31 до 100 операций в месяц</li>
         <li class="price-li">ОСНО</li>
         <li class="price-li">Ежемесячная личная часовая встреча бухгалтера-эксперта Центр ПБУ и клиента</li>
         <li class="price-li">1 машина в лизинге</li>
       </ul>
       <div class="price-miniblock">
        <h4 class="price-mintitle">Стоимость обслуживания</h4>
        <p class="price-minitext">23-35т. Р/мес</p>
       </div>
       <div class="price-miniblock">
        <h4 class="price-mintitle">Ежеквартальное возмещение НДС</h4>
        <p class="price-minitext">200-300 тыс..Р</p>
       </div>
       <button class="price-link">Рассчитать услугу для вас</button>
      </div>
     </div>
     <div class="swiper-slide price-slide price-slide_3">
      <div class="price-content">
        <h3 class="price-subtitle">
          Стоматологический кабинет
        </h3>
        <ul class="price-list">
         <li class="price-li">9 сотрудников</li>
         <li class="price-li">Выручка наличными и по картам</li>
         <li class="price-li">УСН 15%</li>
       </ul>
       <div class="price-miniblock">
        <h4 class="price-mintitle">Стоимость обслуживания</h4>
        <p class="price-minitext">16-29т. Р/мес</p>
       </div>
       <div class="price-miniblock">
        <h4 class="price-mintitle">За год возмещен НДС </h4>
        <p class="price-minitext">3 млн. Р</p>
       </div>
       <button class="price-link">Рассчитать услугу для вас</button>
      </div>
     </div>
     <div class="swiper-slide price-slide price-slide_4">
      <div class="price-content">
        <h3 class="price-subtitle">
          Производственная компания
        </h3>
        <ul class="price-list">
         <li class="price-li">25-55 реализаций в месяц от 200 до 500 операций</li>
         <li class="price-li">ОСНО</li>
         <li class="price-li">Бухгалтер на месте в облачной базе проводит приход-реализацию, проводит платежи</li>
       </ul>
       <div class="price-miniblock">
        <h4 class="price-mintitle">Стоимость обслуживания</h4>
        <p class="price-minitext">22-28т. Р/мес</p>
       </div>
       <div class="price-miniblock">
        <h4 class="price-mintitle">Ежеквартальное возмещение НДС</h4>
        <p class="price-minitext">200-300 тыс..Р</p>
       </div>
       <button class="price-link">Рассчитать услугу для вас</button>
      </div>
     </div>
     <div class="swiper-slide price-slide price-slide_5">
      <div class="price-content">
        <h3 class="price-subtitle">
          Оптовая торговля, региональная компания
        </h3>
        <ul class="price-list">
         <li class="price-li">Вся оперативная работа по максимуму выполняется менеджером клиента на месте</li>
         <li class="price-li">Менеджер клиента проводит приход товаров и реализацию в 1С УТ, осуществляет платежи</li>
         <li class="price-li">ОСНО</li>
         <li class="price-li">125-250 реализаций в месяц</li>
         <li class="price-li">1 машина в лизинге</li>
       </ul>
       <div class="price-miniblock">
        <h4 class="price-mintitle">Стоимость обслуживания</h4>
        <p class="price-minitext">35-48т. Р/мес</p>
       </div>
       <div class="price-miniblock">
        <h4 class="price-mintitle">Ежеквартальное возмещение НДС</h4>
        <p class="price-minitext">200-300 тыс..Р</p>
       </div>
       <button class="price-link">Рассчитать услугу для вас</button>
      </div>
     </div>
   </div>
   <div class="swiper-button-prev price-button price-button-prev"></div>
   <div class="swiper-button-next price-button price-button-next"></div>
   <div class="price-scrollbar"></div>
 </div>
 </div>
</section>