<section class="ready">
 <div class="container">
  <h2 class="ready-title">ГОТОВЫ СОТРУДНИЧАТЬ</h2>
  <p class="ready-subtitle">или хотите узнать больше?</p>
  <p class="ready-form__title">Заполните заявку на услуги Центра ПБУ или задайте вопрос</p>
  <div class="ready-form__wrapper">
   <form action="#" class="ready-form">
    <div class="ready-inputs__wrapper">
     <label class="ready-input__label" for="inputName">
      <img class="ready-input__img" src="img/ready/union.svg" alt="union">
      <input id="inputName" class="ready-input" type="text" placeholder="Укажите ваше имя">
     </label>
     <label class="ready-input__label" for="inputTel">
      <img class="ready-input__img" src="img/ready/tel.svg" alt="union">
      <input id="inputTel" class="ready-input tel" type="tel" placeholder="+7 ( ___ ) - ___ -__-__">
     </label>
     <label class="ready-input__label" for="inputEmail">
      <img class="ready-input__img" src="img/ready/letter.svg" alt="union">
      <input id="inputEmail" class="ready-input" type="email" placeholder="Укажите ваш e-mail">
     </label>
     <label class="ready-input__label" for="inputSubmit">
      <input id="inputSubmit" type="submit" class="ready-input ready-input__submit" disabled>
     </label>
    </div>
    <div class="ready-textarea__wrapper">
     <label class="ready-textarea__label" for="readyTextarea"></label><textarea class="ready-textarea" name="readyTextarea" id="readyTextarea" placeholder="Опишите, чем занимается ваша компания"></textarea>
    </div>
    <p class="ready-form__warning">Нажимая на кнопку “Заказть”, вы соглашаетесь с условиями обработки персональных данных</p>
   </form>
  </div>
 </div>
 <img class="ready-img" src="img/ready/woman.png" alt="Профессионал">
</section>