<section class="review">
 <div class="container">
  <h2 class="review-title section-title">О нас говорят:<span class="review-title__span">отзывы</span></h2>
  <div class="review-blocks">
   <div class="review-block">
    <div class="review-block__title">
     <div class="review-block__img"><img src="img/review/avatar.svg" alt="Аватар пользователя"></div>
     <div class="review-block__person">
      <p class="review-block__name">Валентина Васильевна Хоменкова</p>
      <p class="review-block__work">Внутренний аудитор ООО «Центр профессиональных бухгалтерских услуг»:</p>
     </div>
    </div>
    <p class="review-block__text">Когда я впервые зашла в офис компании, мне сразу бросился в глаза идеальный порядок в офисе, ровные ряды папок. А когда приступила к работе в качестве внутреннего аудитора компании, могу с уверенностью сказать, что учет ведется в «Центре ПБУ» действительно идеальный.</p>
   </div>
   <div class="review-block">
    <div class="review-block__title">
     <div class="review-block__img"><img src="img/review/avatar.svg" alt="Аватар пользователя"></div>
     <div class="review-block__person">
      <p class="review-block__name">Яна Леонидовна Пасько</p>
      <p class="review-block__work">Заместитель директора ОАО «Тонус»:</p>
     </div>
    </div>
    <p class="review-block__text">Еще буквально год назад бухгалтерия нашего предприятия была в плачевном состоянии. Специалисты Центра ПБУ провели у нас аудит и предложили передать им функцию главного бухгалтера, так как именно эти функции выполнялись у нас не на должном уровне. Самое важное для меня, что смогли добиться специалисты Центра ПБУ – дисциплина, порядок и контроль.</p>
   </div>
   <div class="review-block review-block__3">
    <div class="review-block__title">
     <div class="review-block__img"><img src="img/review/avatar.svg" alt="Аватар пользователя"></div>
     <div class="review-block__person">
      <p class="review-block__name">Наталья Леонидовна Ситникова</p>
      <p class="review-block__work">Генеральный директор ООО «Эксим Групп»:</p>
     </div>
    </div>
    <p class="review-block__text">Сотрудники «Центра ПБУ» не только компетентные специалисты, но и всегда очень радушные, приветливые: вовремя напоминают, понятно объясняют. Мне не приходится вникать в разные тонкости.</p>
   </div>
  </div>
  <button class="review-button">
   Смотреть все отзывы
  </button>
 </div>
</section>