<section class="services">
 <div class="container">
  <h2 class="services-title section-title">
    Бухгалтерские<br><span class="services-title__span">услуги</span>
  </h2>
  <div class="swiper services-swiper">
   <div class="swiper-wrapper services-wrapper">
    <div class="swiper-slide services-slide services-slide_1">
     <div class="services-slide__bottom">
      <h3 class="services-subtitle">Подготовка нулевых отчетов «101 отчёт»</h3>
      <p class="services-text">Регулярная нулевая отчетность “от и до” и без вашего участия</p>
      <a href="#" class="services-link">Подробнее</a>
     </div>
    </div>
    <div class="swiper-slide services-slide services-slide_2">
     <div class="services-slide__bottom">
      <h3 class="services-subtitle">Заполнение и сдача налоговых деклараций</h3>
      <p class="services-text">Налоговые декларации за 300 руб./мес с оплатой по факту и гарантией от ошибок</p>
      <a href="#" class="services-link">Подробнее</a>
    </div>
    </div>
    <div class="swiper-slide services-slide services-slide_3">
     <div class="services-slide__bottom">
      <h3 class="services-subtitle">Учет внешнеэкономической деятельности</h3>
      <p class="services-text">Учет внешнеэкономической деятельности: экспорт и импорт без проблем с налоговой</p>
      <a href="#" class="services-link">Подробнее</a>
    </div>
    </div>
    <div class="swiper-slide services-slide services-slide_4">
     <div class="services-slide__bottom">
      <h3 class="services-subtitle">Полное ведение бухгалтерского учета</h3>
      <p class="services-text">Бухучёт “под ключ” - доступное и надёжное абонентское обслуживание малого бизнеса.</p>
      <a href="#" class="services-link">Подробнее</a>
    </div>
    </div>
   </div>
   <div class="swiper-button-prev services-button services-button-prev"></div>
   <div class="swiper-button-next services-button services-button-next"></div>
   <div class="swiper-scrollbar"></div>
 </div>
 </div>
</section>