<section class="subscribe">
 <h2 class="subscribe-title section-title">
  ПОДПИСЫВАЙТЕСЬ НА<span class="subscribe-title__1">НАШИ СОЦСЕТИ</span><span class="subscribe-title__2">СЛЕДИТЕ ЗА НОВОСТЯМИ</span><span class="subscribe-title__3">УЧАСТВУЙТЕ В АКЦИЯХ!</span>
 </h2>
 <div class="subscribe-buttons">
  <button class="subscribe-button">
   <img src="img/subscribe/fb.svg" alt="Facebook">Перейти в FB
  </button>
  <button class="subscribe-button">
   <img src="img/subscribe/vk.svg" alt="Vk">Перейти в VK
  </button>
 </div>
</section>