<section class="try">
 <div class="container">
  <h2 class="try-title section-title">Попробуй современное решение - <span>Pbu center - лучше</span>, чем штатный бухгалтер</h2>
  <div class="try-items">
   <div class="try-item">
    <div class="try-item__title">ДЕШЕВЛЕ</div>
    <div class="try-item__text">Экономия на содержании бухгалтерии Экономите на налогах, IT-сервисах и услугах, обновлении ПО, обучении персонала, компьютерах и оргтехнике, аренде офиса, покупке канцтоваров и больничных.</div>
   </div>
   <div class="try-item">
    <div class="try-item__title">БОЛЬШЕ ОПЫТА</div>
    <div class="try-item__text">Наш бухгалтер – терминатор по сравнению с обычным Наши сотрудники проходят через сложный кастинг, обучение и контроль. В работе используют актуальную справочно-правовую и техническую поддержку.</div>
   </div>
   <div class="try-item">
    <div class="try-item__title">С ГАРАНТИЕЙ</div>
    <div class="try-item__text">Отвечаем финансами Центра ПБУ Гарантируем отсутствие штрафов за ошибки бухучета. И готовы их оплатить, если так случиться (по теории вероятности).</div>
   </div>
   <div class="try-item">
    <div class="try-item__title">ТОЛЬКО НУЖНОЕ</div>
    <div class="try-item__text">Бухгалтерия как конструктор Вы выбираете только те бухгалтерские операции, которые необходимы вашему бизнесу. Понимаете, за что платите.</div>
   </div>
   <div class="try-item">
    <div class="try-item__title">В ПОЛНОМ ПОРЯДКЕ</div>
    <div class="try-item__text">Документы всегда на своих местах в нужное время Мы - фанаты порядка. Сканы поступлений и реализаций - всегда на месте в 1С. Отчетность - с соблюдением сроков и законодательства РФ.</div>
   </div>
   <div class="try-item">
    <div class="try-item__title">ТЕХНОЛОГИЧНО</div>
    <div class="try-item__text">Применяем все современные технологии Наши ежедневные инструменты: облачная 1С с доступом для клиента; личный кабинет; ЭДО.</div>
   </div>
   <div class="try-item">
    <div class="try-item__title">ОПЕРАТИВНО</div>
    <div class="try-item__text">Отдельный бухгалтер для срочных операций У нашего бухгалтера всегда есть время, чтобы оформить платежное поручение и накладную.</div>
   </div>
   <div class="try-item">
    <div class="try-item__title">СО ЗНАНИЕМ ОТРАСЛИ</div>
    <div class="try-item__text">Знаем специфику учета Подбираем специалиста с опытом работы в вашей бизнес-нише.</div>
   </div>
  </div>
  <img src="img/try/woman.png" class="try-img" alt="Профессионал">
 </div>
</section>