<section class="uses">
 <div class="container uses_container">
  <h2 class="section-title uses-title">Бывало?</h2>
  <div class="uses-items">
   <div class="uses-item">Неправльно насчитанные налоги?</div>
   <div class="uses-item">Не с кем проконсультироваться?</div>
   <div class="uses-item">Не вовремя сдали отчет?</div>
   <div class="uses-item">Потеряли документы?</div>
   <div class="uses-item">Пугают перемены в законодательстве?</div>
   <div class="uses-item">Часто меняются бухгалтеры в штате?</div>
  </div>
 </div>
</section>