<section class="work">
 <div class="container">
  <h2 class="work-title section-title">Работаем <span>в 30+<br>отраслях</span></h2>
  <div class="work-items">
   <div class="work-item">
    <div class="work-top">
     <img src="img/work/_1.svg" alt="Картинка" class="work-img">
    </div>
    <div class="work-bottom">
     Строительство
    </div>
   </div>
   <div class="work-item">
    <div class="work-top">
     <img src="img/work/_2.svg" alt="Картинка" class="work-img">
    </div>
    <div class="work-bottom">
     Услуги
    </div>
   </div>
   <div class="work-item">
    <div class="work-top">
     <img src="img/work/_3.svg" alt="Картинка" class="work-img">
    </div>
    <div class="work-bottom">
     IT сфера
    </div>
   </div>
   <div class="work-item">
    <div class="work-top">
     <img src="img/work/_4.svg" alt="Картинка" class="work-img">
    </div>
    <div class="work-bottom">
     Производство
    </div>
   </div>
   <div class="work-item">
    <div class="work-top">
     <img src="img/work/_5.svg" alt="Картинка" class="work-img">
    </div>
    <div class="work-bottom">
     Оптовая торговля
    </div>
   </div>
   <div class="work-item">
    <div class="work-top">
     <img src="img/work/_6.svg" alt="Картинка" class="work-img">
    </div>
    <div class="work-bottom">
     Розничная торговля
    </div>
   </div>
   <div class="work-item">
    <div class="work-top">
     <img src="img/work/_7.svg" alt="Картинка" class="work-img">
    </div>
    <div class="work-bottom">
     Транспорт / Перевозки
    </div>
   </div>
   <div class="work-item">
    <div class="work-top">
     <img src="img/work/_8.svg" alt="Картинка" class="work-img">
    </div>
    <div class="work-bottom">
     Стоматология
    </div>
   </div>
  </div>
  <div class="work-search">
   <div class="work-play"></div>
   <div class="work-search__text">
    <h3 class="work-search__title">Не нашли свою отрасль?</h3>
    <p class="work-search__subtitle">Мы всё равно сможем вам помочь</p>
   </div>
   <button class="work-search__button">Заказать консультацию</button>
  </div>
 </div>
</section>